defmodule <%= @base_string %>.Auth.PasswordHasherTest do
  use ExUnit.Case, async: true

  alias <%= @base_string %>.Auth.PasswordHasher

  test "hash/1 then verify/2 round-trips" do
    hash = PasswordHasher.hash("correct horse battery staple")
    assert PasswordHasher.verify("correct horse battery staple", hash)
    refute PasswordHasher.verify("wrong password", hash)
  end

  test "verify/2 on non-binary returns false" do
    refute PasswordHasher.verify(nil, "not-a-hash")
  end

  test "needs_rehash?/1 returns false for a fresh hash at current params" do
    hash = PasswordHasher.hash("anything")
    refute PasswordHasher.needs_rehash?(hash)
  end

  test "needs_rehash?/1 returns false for a malformed hash" do
    refute PasswordHasher.needs_rehash?("not-a-phc-encoded-hash")
  end
end
