defmodule <%= @base_string %>.Accounts.PasswordCredentialQueries do
  @moduledoc "Composable queries for `<%= @base_string %>.Accounts.PasswordCredential`."

  import Ecto.Query

  alias <%= @base_string %>.Accounts.PasswordCredential

  def for_user(query \\ PasswordCredential, user_id) do
    where(query, [c], c.user_id == ^user_id)
  end

  def by_reset_token_hash(query \\ PasswordCredential, hash) do
    where(query, [c], c.password_reset_token_hash == ^hash)
  end
end
